<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>bruh. <%= @user.username %>. u love cats. </h1>
    <h3>how did u get here???</h3>
    <p>Lorem ipsum do u know what i'm talkin bout???</p>
    <h4>u could:</h4>
    <ul>
      <li>go log in here: <%= link_to 'login_time', 'https://en.wikipedia.org/wiki/List_of_inventors_killed_by_their_own_inventions' %></li>
      <li>get the absolute stupid low prices on cat rentals</li>
      <li>come thru and look at the same picture of a cat 4 times</li>
      <li>who knows? maybe there are 10 planets</li>
    </ul>
    <h1>*abruptly ends transmission*</h1>
  </body>
</html>
